*{
  margin: auto;
  padding: auto;
}
a.navbar-brand {
  margin-left: 0;
}
.navbar{
  margin: 10;
 text-transform: uppercase;
  font-weight: 500;
  justify-content: space-between;
  align-content: space-between;
} 